$fuente1: 'Archivo Black', sans-serif;
$fuente2: 'Montserrat', sans-serif;
$color-primario: #3b0d3e;
$color-secundario: #58285a;
$color-terciario: #402840;
$color-claro: #f0e6f4;
$color-oscuro: #140113;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: $color-terciario;
    font-family: $fuente2;
    font-weight: 400;
    color: $color-claro;
}

